.modal-container {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	height: 100vh;
	justify-content: center;
	position: absolute;
	width: 100vw;
}

.modal-box {
	background-color: rgb(87, 86, 86);
	border-radius: 5px;
	height: 300px;
	padding: 5px;
	width: 500px;
}

.modal-box-inner {
	align-items: center;
	background-color: white;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	position: relative;
	width: 100%;
}

.button-close {
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid transparent;
	border-radius: 3px;
	position: absolute;
	font-size: 1.2rem;
	right: 8px;
	top: 8px;
}

.button-close:hover {
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
